.screen {
  background-color: #dfdfdf;
  text-align: right;
  /* height: 55px; */
  width: 50%;
  padding: 5px;
  font-size: 30px;
}

.list-style {
  list-style: none;
}

<<<<<<< HEAD
span {
  display: inline-block;
=======
.keyboard{
  background-color: aqua;
  width: 50%;
}
.box-span{
  display: inline-block;
  padding: 30px;
  border:1px solid rgb(17, 16, 16);
>>>>>>> bc052657e07ccc9792856b5384c9f477f1d0fc1f
}